<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="shortcut icon" href="">
  </head>
  <body>
    <ul>
      {% for attendee in attending %}
        <li><a href='/profile/{{attendee.us_id}}'>{{attendee.first_name}} {{attendee.last_name}}</a>
      {% endfor %}
    </ul>
    {% if not going %}
      <form action="/rsvp/{{eid}}" method="POST">
        <input type="submit" value="Going">
      </form>
    {% else %}
      <form action="/ursvp/{{eid}}" method="POST">
        <input type="submit" value="Not Going">
      </form>
    {% endif %}
  </body>
</html>

