<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css">
    <title>Home Page</title>
    <link rel="shortcut icon" href="">
  </head>
  <body>
    <h1>&lt;<span style="color:var(--redish);">Home</span> <span style="color:var(--greenish);">Page</span>/&gt;</h1>
    <form action="logout" method="POST">
      <input type="submit" value="Logout">
    </form>
    <button onclick="window.location.href = 'profile/{{user.us_id}}';">My Profile</button>
    <table style="width:100%" align="left">
      {% for post in posts %}
        <tr>
          <p><img src="images/{{pics.get(post.us_id)}}" alt="{{post.fullname}}'s Profile Picture" width="50" align="middle"><b><a href="profile/{{post.us_id}}">{{post.pt_fullname}}</a> posted: </b>{{ post.pt_txt }} (posted at {{ post.pt_time }})</p>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>

