<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Home Page</title>
    <link rel="shortcut icon" href="">
  </head>
  <body link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF">
    <h1>&lt;<span style="color:var(--redish);">Home</span> <span style="color:var(--greenish);">Page</span>/&gt;</h1>
    <form action="logout" method="POST">
      <input type="submit" value="Logout">
    </form>
    <button onclick="window.location.href = 'profile/{{user.us_id}}';">My Profile</button>
    <form action="home" method="POST">
      <input type="text" name="ptxt" placeholder="Post Something..." autofocus>
      <input type="submit" value="Post">
    </form>
    <table>
      {% for post in posts %}
        <tr>
          <td width="20%">
            <p>
              <img src="/images/{{pics.get(post.us_id)}}" width="50" align="middle">
              <b><a href="profile/{{post.us_id}}">{{post.pt_fullname}}</a></b>
            </p>
          </td>
          <td>
            <p>
              {{post.pt_txt}}
            </p>
          </td>
          <td width="10%">
            <p>
              <span style="font-size:14px;color:#777777;">
                {% set datetime = post.pt_time %}
                {% set istoday = today.day == datetime.day and today.month == datetime.month and today.year == datetime.year %}
                Posted
                {% if istoday %}
                {% elif (today-yest).day == datetime.day %}
                  Yesterday
                {% elif (today-datetime).days <= 7 %}
                  {{weekdays[datetime.weekday()]}}
                {% elif today.year != datetime.year %}
                  {{months[datetime.month]}} {{datetime.day}}, {{datetime.year}}
                {% else %}
                  {{months[datetime.month]}} {{datetime.day}}
                {% endif %}
                {% if (today-datetime).seconds < 60 and istoday %}
                  less than a minute ago
                {% elif today.day == datetime.day and istoday %}
                  {% if (today-datetime).seconds//3600 >= 1 %}
                    {{(today-datetime).seconds//3600}}
                    {% if (today-datetime).seconds//3600 == 1 %}
                      hr
                    {% else %}
                      hrs
                    {% endif %}
                    ago
                  {% else %}
                    {{(today-datetime).seconds//60}}
                    {% if (today-datetime).seconds//60 == 1 %}
                      min
                    {% else %}
                      mins
                    {% endif%}
                    ago
                  {% endif %}
                {% else %}
                  {% if datetime.hour//12 == 0 %}
                    at
                    {{datetime.hour % 12}}:{{datetime.minute}}
                    am
                  {% else %}
                    at
                    {{datetime.hour % 12}}:{{datetime.minute}}
                    pm
                  {% endif %}
                {% endif %}
              </span>
            </p>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>

