<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Create New Event</title>
    <link rel="shortcut icon" href="">
  </head>
  <body link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF">
    <h1>&lt;<span style="color:var(--redish);">New</span> <span style="color:var(--greenish);">Event</span>/&gt;</h1>
    <form action="newevent" method="POST" autocomplete="off">
      <input type="text" name="name" placeholder="Event Name" autofocus>
      <input type="text" name="desc" placeholder="Description">
      <input type="text" name="date" placeholder="Date" onfocus="(this.type='date')" onblur="(this.type='text')">
      <input type="text" name="time" placeholder="Time" onfocus="(this.type='time')" onblur="(this.type='text')">
      <input type="text" name="street" placeholder="Street Address">
      <input type="text" name="city" placeholder="City">
      <input type="text" name="state" placeholder="State">
      <input type="text" name="zip" placeholder="Zip Code">
      <input type="submit" value="Create New Event">
    </form>
  </body>
</html>
