<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="shortcut icon" href="">
  </head>
  <body>
    <h1>{{prof.first_name}}</h1>
    <p>This persons date of birth is {{prof.dob}}
    <p>This person is {{prof.age}} years old
    <ul>
      {% for event in events %}
        <li><a href='/event/{{event.ev_id}}'>{{event.ev_name}}</a>
      {% endfor %}
    </ul>
    <ul>
      {% for user in following %}
        <li><a href='/profile/{{user.us_id}}'>{{user.first_name}} {{user.last_name}}</a>
      {% endfor %}
    </ul>
    {% if not isFollowed and not isMe %}
      <form action="/follow/{{uid}}" method="POST">
        <input type="submit" value="Follow">
      </form>
    {% elif not isMe %}
      <form action="/ufollow/{{uid}}" method="POST">
        <input type="submit" value="Unfollow">
      </form>
    {% endif %}
  </body>
</html>

