<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>{{prof.first_name}} {{prof.last_name}}'s Profile</title>
    <link rel="shortcut icon" href="">
  </head>
  <body link="#FFFFFF" vlink="#FFFFFF" alink="#FFFFFF">
    <h1>&lt;<span style="color:var(--redish);">{{prof.first_name}}</span> <span style="color:var(--greenish);">{{prof.last_name}}</span>/&gt;</h1>
    <img src="/images/{{pic}}" width="200" align="middle">
    {% if not isFollowed and not isMe %}
      <form action="/follow/{{uid}}" method="POST">
        <input type="submit" value="Follow">
      </form>
    {% elif not isMe %}
      <form action="/ufollow/{{uid}}" method="POST">
        <input type="submit" value="Unfollow">
      </form>
    {% endif %}
    <table align="center">
      <tr>
        <td>
          <table>
            {% for user in following %}
              <tr>
                <p><a href='/profile/{{user.us_id}}'>{{user.first_name}} {{user.last_name}}</a></p>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </table>
    <table align="center">
      <tr>
        <td>
          <table>
            {% for event in events %}
              <tr>
                <p><a href='/event/{{event.ev_id}}'>{{event.ev_name}}</a></p>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
